
.planet {
    width: 285.5px;
    height: 34px;

    div {
        cursor: pointer;
    }
    
    div P {
        color: #D0D6F9;
        text-transform: uppercase;
    }
    div.column {
        position: relative;
        
         hr {
            border: 3px solid white;
            bottom: -10px;
            position: absolute;
        }
        hr.hr-moon {
           width: 60px;
       }
        hr.hr-mars {
           width: 45px;;
           margin-left: 36px;
           position: absolute;
       }
        hr.hr-europa {
           width: 65px;
           margin-left: 36px;
       }
       div hr.hr-titan {
           width: 1420px;
           margin-left: 36px;
       }
    }
    div p.moon {
        width: 39px;
        height: 19px;
    }
     
    div p.mars {
        width: 37px;
        height: 19px;
        margin-left: 36px;
    } 
    div p.europa {
        width: 56px;
        height: 19px;
        margin-left: 36px;
    } 
    div p.titan {
        width: 41px;
        height: 19px;
        margin-left: 36px;
    } 
   }
     
       .display {
        display: inline-block;
    }
    .no-display {
        display: none;
    }
 

@media screen and (max-width:1100px) {

    .planet {
        width: 285.5px;
        height: 34px;
    div hr.hr-moon {
        width: 55px;
    }
     
    div hr.hr-mars {
        width: 50px;;
        margin-left: 0px;
    } 
    div hr.hr-europa {
        width: 65px;
        margin-left: 0px;
    } 
    div hr.hr-titan {
        width: 53px;
        margin-left: 35px;
    }
    }
}

@media screen and (max-width:600px) {
    .planet {
        div hr.hr-moon {
            width: 85px;
            margin-left: 36px;
        }
         
        div hr.hr-mars {
            width: 80px;
            margin-left: 0px;
        } 
        div hr.hr-europa {
            width: 85px;
            margin-left: 0px;
        } 
        div hr.hr-titan {
            width: 63px;
            margin-left: 36px;
        }
    }
}
@media screen and (max-width: 545px) {
    .planet {
        div hr.hr-moon {
            width: 65px;
            margin-left: 10px;
        }
         
        div hr.hr-mars {
            margin-left: -0px;
        } 
        div hr.hr-europa {
            width: 70px;
            margin-left: -20px;
        } 
        div hr.hr-titan {
            width: 55px;
            margin-left: 10px;
        }
    }
}


