* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Bellefair", serif;
  font-weight: 400;
}
body {
  color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    overflow-x: hidden;
}